<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Waiters Availability</title>
  </head>
  <body>
    <div class="containerAll">
      <div class="header">
        <h1>Waiter Management</h1>
      </div>
      <br />
      <div class="content">
        <h2>Login:</h2>
        <h4>Please enter your login details</h4>
        <label for="userInput">Username:</label>
        <input type="text" name="userInput" />
        <a href="/login" class="btn login">Login</a>
      </div>
        <a href="/adminPanel" class="btn adminBtn">Admin Panel</a>
    </div>
  </body>
</html>